:root {
    --back: #8499B1;
    --menus: #A5C4D4;
    --submenus: #beddec;

    --border: #7B6D8D;
    --text: #593F62;

    --hover: #493B2A;



    --radius: 0.5vh;
    --padding: 2vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    color: var(--text);
}

body {
    background: var(--back);
    font-family: 'Montserrat', sans-serif;


    color: var(--text);
}

.container {
    position: absolute;

    top: 0;
    left: 50%;
    transform: translate(-50%);

    width: 60vw;
    min-height: 100%;
}

@media only screen and (max-width: 735px) {
    .container {
        width: 100vw;
    }   

    header {
        min-height: 10vh;

        justify-content: center !important;
    }

    header, .nav_item {
        padding: 0;  
    }

    .rules_block h3, .rules_block ul p, header {
        font-size: 1.8vh;
    }

    .nav_section {
        display: flex;
        flex-direction: column;
    }
}

header {
    margin-top: 3vh;

    background: var(--menus);

    border-radius: var(--radius);

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 5vh;
    

    padding: 0 2vh;


    user-select: none;
}

.nav_item {
    padding: 1vh;
}

.nav_item:hover {
    text-shadow: 0.3vh 0.3vh 0.3vh var(--border);

    transition: 0.3s;
}

main {
    background: var(--menus);

    margin-top: 3vh;

    border-radius: var(--radius);
    padding: calc(var(--padding) + 1vh);

    min-width: 10vh;
    min-height: 10vh;
}

.for_logo {
    font-size: 3vh;

    text-transform: uppercase;

    margin-bottom: 3vh;
}

.for_info {
    text-align: justify;
}


/* RaptorsCraft Span */

.RaptorsCraft {
    color: rgb(255, 255, 182);
}

.RaptorsCraftIcon {
    color: rgb(255, 255, 182);
}

ul li {
    text-decoration: none;
}

.rules_block {
    margin: 3vh 0;

    background: var(--submenus) ;

    padding: var(--padding);

    border-radius: var(--radius);
}

.rules_block h3 {
    margin-bottom: 1vh;
    color: var(--text);

    background: var(--menus);
    border-radius: var(--br);

    padding-left: 0.5vh;
}

.rules_block ul p {
    margin: 0.6vh 0;
}

.for_logo, .for_info {
    cursor: default !important;
}

.social_link:hover {
    color: var(--hover);

    text-shadow: 0.1vh 0.1vh 0.1vh var(--hover);

    transition: 0.3s;
}